@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');

body {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  color: #444;
  font-size: 1em;
}
/* Utility Classes */

.paid-bill {
  text-decoration: line-through;
}

.icon {
  cursor: pointer;
  user-select: none;
  color: #4286f4;
}

/* General Styles */

.App-header {
  background-color: white;
  padding: 20px;
  color: #616161;
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

#container {
  margin: 0 auto;
  max-width: 900px;
  min-width: 320px;
  width: 90%;
  margin: 0 auto;
}

/* Bill styles */

#bills-container {
  padding: 15px;
}

.bill-item {
  display: grid;
  grid-template-columns: 24px 3fr 1fr 36px;
  padding: 5px;
  line-height: 1em;
  align-items: center;
}

.bill-item p {
  display: inline-block;
  padding: 5px;
}

.bill-name {
  margin-left: 1em;
}

.bill-cost {
  text-align: right;
  margin-right: 20px;
}

.completed-container {
  text-align: center;
}

.completed-input {
  display: none;
}

/* New Bill */
.edit-bill-name {
  display: inline-block;
  width: 70%;
}

.edit-bill-cost {
  display: inline-block;
  width: 25%;
  text-align: left;
  margin-left: 15px;
  margin-top: 10px;
}

.form-label {
  display: inline-block;
  color: #666;
  margin:5px 0;
  vertical-align: top;
}

.form-input {
  display: block;
  line-height: 1.3em;
  width: 90%;
  padding: 5px;
  border: none;
  border-bottom: 1px solid #999;
}

#button-add-bill {
  display: block;
  cursor: pointer;
  padding: 10px 20px;
  background-color: white;
  border: 1px solid #4286f4;
  color: #4286f4;
  font-size: 1.2em;
  justify-self: center;
  margin: 20px auto;
  transition: all 0.2s ease-in-out;
}

#button-add-bill:hover {
  background-color: #4286f4;
  color: white;
}