.App-header {
  background-color: white;
  padding: 20px;
  color: #616161;
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

#bills-container {
  margin: 0 auto;
  max-width: 900px;
  min-width: 320px;
  padding: 15px;
}